@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,642;1,642&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rubik+Mono+One&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 642;
    font-style: normal;
}

body {
    background-image: url(photo_2025-02-18_16-47-43.jpg);
    height: 100vh;
}

.kenih_pidorr {
    text-align: center;

}

.kenih_pidorrr {
    color: black;
    transform: translate(-600px, 200px);
}

.kenih-mraz {
    color: black;
    transform: translate(10px, 200px);
    font-size: 15px;
    width: 800px;
    word-break: break-all;
}

.kenih-img {
    transform: translate(-400px, 500px);
    height: 300px;
    width: 500px;
}

.kenih-txt {
    transform: translate(10px, 500px);
    font-size: 15px;
    width: 690px;
    word-break: break-all;
}

.kenih-suka {
    transform: translate(-970px, 90px);
    height: 150px;
    width: 400px;
}

.vkontakte {
    color: black;
    position: absolute;
    font-size: 15px;
    width: 600px;
    z-index: 20;
}

.swag {
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 250px;
    left: 1000px;
    z-index: 3;
    background-color: aliceblue;
    width: 610px;
    height: 92px;
}

@media (max-width:768px) {
    body {
        background-image: none;
        background-color: ;
    }

    .kenih-mraz {
        max-width: 768px;
    }
}